.mycharacter {
  margin: 1.25rem;
  width: 96px;
  height: 36px;
  position: absolute;
  transition: transform 0.45s ease-out;
  clip-path: inset(0px 72px 0px 0px);
}

.moveD {
  background: url(/playerDown.png) no-repeat center center / contain;
}
.moveU {
  background: url(/playerUp.png) no-repeat center center / contain;
}
.moveR {
  background: url(/playerRight.png) no-repeat center center / contain;
}
.moveL {
  background: url(/playerLeft.png) no-repeat center center / contain;
}
.dragon {
  background: url(/draggleSprite.png) no-repeat center center / contain;
}
.walkLeft {
  background: url(/walkLeft.gif) no-repeat center center / contain;
}
.walkRight {
  background: url(/walkRight.gif) no-repeat center center / contain;
}
.name {
  position: absolute;
  min-width: 6rem;
  text-align: center;
  transition: transform 0.45s ease;
}
.msgContainer {
  position: absolute;
  background: url(/public/msg/sideMsg.png) no-repeat center center / contain;
  height: 4rem;
  width: 8rem;
  top: 0.3rem;
  left: 2.7rem;
  position: absolute;
  transition: transform 0.45s ease-out;
}
.msg {
  position: absolute;
  display: flex;
  left: 1rem;
  top: 1rem;
  align-items: center;
}
