.board {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  outline: none;
}
.row {
  display: flex;
  flex-direction: row;
}

.mycharacter {
  margin: 1.25rem;
  width: 11rem;
  height: 4rem;
  position: absolute;
  transition: transform 0.95s ease;
  clip-path: inset(0px 132px 0px 0px);
}

.moveD {
  background: url(/playerDown.png) no-repeat center center / contain;
}
.moveU {
  background: url(/playerUp.png) no-repeat center center / contain;
}
.moveR {
  background: url(/playerRight.png) no-repeat center center / contain;
}
.moveL {
  background: url(/playerLeft.png) no-repeat center center / contain;
}
.dragon {
  background: url(/draggleSprite.png) no-repeat center center / contain;
}
.walkLeft {
  background: url(/walkLeft.gif) no-repeat center center / contain;
}
.walkRight {
  background: url(/walkRight.gif) no-repeat center center / contain;
}
.char {
  margin: 0.5rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
}
