.board {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  outline: none;
}
.row {
  display: flex;
  flex-direction: row;
}

.image {
  margin: 2rem;
  width: 4rem;
  height: 4rem;
  background: url(/public/vite.svg) no-repeat center center / contain;
  position: absolute;
  transition: transform 0.3s ease;
}
