.board {
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
  outline: none;
}
.row {
  display: flex;
  flex-direction: row;
}

.boardContainer:focus-visible {
  outline: none !important;
}
