.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  /* border: 1px solid #e0e0e0; */
  /* background-color: #f5f5f5; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease;
  font-size: x-large;
}
.grass {
  background: radial-gradient(
    circle,
    rgb(157 240 148 / 80%) 0%,
    rgba(5, 86, 5, 0.87) 120%
  );
  /* background: url(/public/grass.png) no-repeat center bottom / contain; */
}
.water {
  background: radial-gradient(
    circle,
    rgb(169 223 251 / 80%) 0%,
    rgba(0, 208, 255, 0.786) 120%
  );
}
.rock {
  background: radial-gradient(
    circle,
    rgba(120, 73, 73, 0.881) 0%,
    rgba(72, 18, 18, 0.786) 120%
  );
}
.empty {
  background: radial-gradient(
    circle,
    rgb(157 240 148 / 80%) 0%,
    rgba(5, 86, 5, 0.87) 120%
  );
}
.food {
  background: radial-gradient(
    circle,
    rgb(157 240 148 / 80%) 0%,
    rgba(5, 86, 5, 0.87) 120%
  );
}
