.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.home:focus-visible {
  outline: none !important;
}
.hint {
  display: flex;
  color: #7fffd4bd;
  font-size: small;
  border: 1px dotted;
  padding: 1rem;
  height: 5rem;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 1px solid #fff; */
  height: 100%;
  padding: 1rem;
}
.heading {
  display: flex;
  font-size: large;
  padding: 1rem 0;
  font-weight: bolder;
  width: 100%;
  justify-content: space-between;
}
.row {
  display: flex;
}
.activePlayer {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  width: 100%;
  justify-content: space-between;
}
.recentChats {
  width: 100%;
  height: 95%;
  overflow-y: overlay;
  padding-bottom: 1rem;
}
.chat {
  display: flex;
  position: relative;
  padding: 4px 0;
  width: 100%;
}
.msg {
  font-weight: bold;
  color: white;
}
.msgTime {
  position: absolute;
  right: 0px;
  bottom: -2px;
  font-size: xx-small;
}
.senderName {
  font-size: small;
  font-weight: bold;
  color: rgba(240, 248, 255, 0.737);
}
.deleteChats {
  cursor: pointer;
  padding: 0 4px;
}
