.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.home:focus-visible {
  outline: none !important;
}
.hint {
  width: 28%;
  display: flex;
  color: #7fffd4bd;
  font-size: small;
  align-self: flex-start;
  height: 40px;
}
