.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90vh;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.home:focus-visible {
  outline: none !important;
}
.hint {
  display: flex;
  color: #7fffd4bd;
  font-size: small;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  /* border: 1px solid #fff; */
  height: 100%;
  padding: 1rem;
}
.heading {
  font-size: large;
  padding: 1rem 0;
}
.row {
  display: flex;
}
.activePlayer {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  width: 100%;
  justify-content: space-between;
}
